{% extends "weblogs/base.html" %}

{% block header %}
  <h1>My Posts</h1>
{% endblock header %}

{% block content %}

  <ul>
    {% for post in posts %}
      <a href="{% url 'weblogs:edit_post' post.id %}">edit post</a> -
      <a href="{% url 'weblogs:delete_post' post.id %}">delete</a>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>
            {{ post }}
            <small>
              {{ post.date_added|date:'M d, Y H:i' }}
            </small>
          </h3>
        </div>
        <div class="panel-body">
	      {{ post.body|linebreaks }} 
        </div>
      </div> <!-- panel -->

    {% empty %}
      <h3>
        You do not have any blog posts yet- create a new one
        <a href="{% url 'weblogs:new_post' %}">here</a>.
      </h3>
    {% endfor %}
  </ul>
  
{% endblock content %}

